/*z-index: modal:3, footer:2, sidebar 1 */

#header {
  position:fixed;
  z-index: 3;
  top: 0;
  left:0;
  width: 100%;
  height:55px;
  background: #e0e0e0;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #999999;
  border-bottom: 1px solid black;
  /*box-shadow: 0 0 5px #555555;*/
}

#header button {
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #999999;
}

#header button:hover {border-color: #000000;}

#sandbox_menu_buttons button {
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #999999;
}

#sandbox_menu_buttons button:hover {border-color: #000000;}

#footer {
  position:fixed;
  z-index: 3;
  bottom: 0;
  left:0;
  width: 100%;
  height:40px;
  background: #e0e0e0;
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #999999;
  border-top: 1px solid black;
  /*box-shadow: 0 0 5px #555555;*/
}

#main{
  position: fixed;
  height:auto;
  margin-top:60px;
  margin-bottom:40px;
}

#logo{
  position: absolute;
  left:10px;
  top:10px;
  line-height: 14px;
}

#main_menu{
  position:relative;
  display:block;
  left:max(200px,30%);  /*using max here to prevent the menu from covering the logo */
  width:600px;
  top:25px;
}

#main_menu_info{
  position:absolute;
  left:max(200px,30%);
  width:550px;
  height:10px;
  top:5px;
  font-size:14px;
}

input {
  padding: 2px;
  font-size: 12px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: inset 0px 0px 3px rgba(161, 161, 161, 0.75);
}

textarea {
  padding: 2px;
  font-size: 12px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: inset 0px 0px 3px rgba(161, 161, 161, 0.75);
}

input:focus {
  outline:none;
}

#tree_wrapper {
  position:fixed;
  right:42%;
  top:60px;
  width: 25%;
  height: calc(100% - 40px - 60px);
  overflow:auto;
  /*direction: rtl; /*to get the scrollbar to show up on the left*/
}

#tree {
  position:relative;
  width: 100%;
  height: 100%;
  /*direction: ltr; /*to get the scrollbar to show up on the left*/
}

#active_question {
  position:fixed;
  top:55px;
  right:0px;
  background-color: #d4d4d4;
  width:40%;
  height:calc(100% - 40px - 55px);  /*subtract the header and the footer*/
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  /*box-shadow: 0 0 5px #555555*/
}

/*the input table for answers, values, etc. */
.choices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-height:300px;
  overflow: auto;
}

.choices table {
  background-color: rgb(228, 251, 255);
  border: 1px solid #1C6EA4;
}

.choices td {
  height:14px;
  font-size: 12px;
}

.choice_nr {
  width:25px;
}

.choice_text {
  width:260px;
}

.choice_feedback {
  width:250px;
}

.choice_value {
  width:50px;
}

.choice_tolerance {
  width:50px;
}

.choice_adddel {
  width:30px;
}
.choices tr:nth-child(even){background-color: #D0E4F5}

.choices tr:hover {background-color: rgb(248, 255, 148);}

.choices th {
  text-align: left;
  font-size: 14px;
  background-color: hsl(204, 100%, 39%);
  color: rgb(255, 255, 255);
}
.choices input{
border: none;
border-color: transparent;
background: transparent;
font-size: 14px;
padding: 0;
border-width: 0;
border-style: none;
border-radius: 0;
box-shadow: none;
}

#qname {
  width: 696px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: none;
  border-color: transparent;
  background: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #D0E4F5;
}


#sidebar_wrapper {
  height:calc(100% - 40px - 55px);  /*subtract the header and the footer*/
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0px;
  background-color: rgb(211, 211, 211);
  /*box-shadow: 0 0 5px #555555;*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
  overflow: auto;
}
#sandbox {
  width:100%;
  height:350px;
  resize: vertical;
}

.del_btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height:14px;
  width:14px;
  background-color: #fcb7ae;
  padding:0;
  border:none;
}

.del_btn:hover {
  background-color: #ff4f38;
}

.add_btn {
  font-family: Arial, Helvetica, sans-serif;
  height:14px;
  width:14px;
  font-size: 12px;
  background-color: #82f571;
  padding:0;
  border:none;
}

.add_btn:hover {
  background-color: #18b300;
}

#alert-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;  
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
}



#fileinput {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.menu_btn{
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:2px solid #3aaf00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  border-radius: 6px;
}

.menu_btn:hover{
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
  border-color: #000000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 5px 10px 8px #888888;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 2px double rgb(0, 0, 0);
  width: 50%;
  overflow:hidden;
}

.modal_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#2e2e2e;
}

.close_btn {
  position:absolute; top:2px; right:2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color:#2e2e2e;
  background-color: transparent;
  border: none;
}

.close_btn:hover {
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-weight: 900;
  cursor: pointer;
}

.headline_1 {
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 16px;
  font-weight: 700;
}

#import_settings{
width:300px;
height:250px;
border: #444444 1px solid;
background-color: #fffde1;
padding: 5px;
}

#search_results {
border: #444444 1px solid;
background-color: #fffde1;
}

.warning {
  background-color:#fff068;
  border-color: red;
}

.search_result_btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-family: Arial;
  padding: 2px;
  background-color: #D3D3D3;
  border: solid #000000 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.search_result_btn:hover {
  background: #FFFFFF;
  border: solid #79B0FF 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/*the tooltips that appear when you hover over a help-icon*/
.tooltip{
  position: relative;
}

a.tooltip {
  text-decoration: none;
  padding:3px;
}

a.tooltip:hover {
  cursor: help;
  position: relative;
}
a.tooltip span {
  position: absolute;
  display: none;
}
a.tooltip:hover span {
  position: absolute;
  z-index: 100 !important;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 12px;
  border: #666 2px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  background: #e3e3e3;
  left: -20px;
  margin: 15px;
  width: 140px;
  top: 15px;
  text-decoration: none;
  text-align: left;
}

textarea {
  cursor: auto;
}

table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

/* scrollbars start */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(171, 171, 255) rgb(180, 181, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  cursor:grab !important;
}

*::-webkit-scrollbar-track {
  background: rgb(221, 221, 221);
  cursor:grab !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 20px;
  border: 1px solid rgb(177, 177, 177);
  cursor:grab !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
  cursor: grab !important;
}
/* scrollbars end */


/*dropdown menu buttons start*/

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {border-color: #ffffff;}
/* dropdown menu buttons end */

